@import url(https://fonts.googleapis.com/css?family=Lato:400,700,300);
body{
    margin:0 ;
    padding:0 ;
    font-family: "Lato",sans-serif;
   
    display: flex;
    align-items:center;
    justify-content: center;
    min-height: 100vh;
}
.form{
    width:400px;
}
.file-upload-wrapper{
    position: relative;
    width: 100%;
    height:60px;
    cursor: pointer;
}
.file-upload-wrapper::after{
    content:attr(data-text);
    font-size: 18px;
    position:absolute;
    top:0;
    left:0;
    background: #fff;
    padding:10px 15px;
    display: block;
    width:calc(100% - 40px);
    pointer-events:none;
    z-index: 20;
    height:40px;
    line-height: 40px;
    color: #999;
    border-radius: 5px 10px 10px 5px;
    font-weight: 300;
}
.file-upload-wrapper::before{
    content: "Upload";
    position:absolute;
    top:0;
    right:0;
    display: inline-block;
    height:60px;
    background: -webkit-linear-gradient(to right, #24C6DC,#514A9D);
    background: linear-gradient(to right, #24C6DC,#514A9D);
    color: #fff;
    font-weight: 700;
    z-index: 25;
    font-size:16px;
    line-height: 60px;
    padding: 0 15pxo0;
    text-transform: uppercase;
    pointer-events: none;
    border-radius: 0 5px 5px 0;
    transition: 0.5s ease-in-out;

}
.file-upload-wrapper:hover::before{
    background: -webkit-linear-gradient(to right, #514A9D,#24C6D6);
    background: linear-gradient(to right, #514A9D,#24C6D6);
}
.file-upload-wrapper input{
    opacity: 0;
    position:absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
    z-index: 99;
    height:40px;
    margin:0;
    padding:0;
    display:block;
    cursor: pointer;
    width:100%;
    
}